/*começar todas as páginas com box-sizing: border-box. Que faz com que as caixas quando
 aumentada de tamanho, soma-se junto a borda*/
* {
    box-sizing: border-box;
}

/*  root é o elemento mais alto dentro da hierarquia HTML*/
:root {
    --primary-color: #0B498F;
    --gray-100: #C4C4C4;
    --gray-200: #00000080;
    --black: #000;
    --white: #fff;

    /* propriedade para deixar a fonte um pouco mais definida no google chrome*/
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "poppins", sans-serif;
}

.header,
.presentation,
.about-us,
.services,
.bottom-slogan,
.footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.about-us,
.services,
.bottom-slogan-container,
.footer {
    margin-top: 80px;
}

/* header */
.header {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 116px;
}

.header__cta {
    text-decoration: none;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    width: 130px;
    height: 32px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/* presentation*/

.presentation {
    margin-top: 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation__description-container {
    display: flex;
    flex-direction: column; /*alinhar o item como uma coluna*/
    align-items: center;
}

.presentation__title {
    font-size: 20px;
    color: var(--primary-color);
    font-weight: 600; /*grossura da fonte*/
    line-height: 30px; /*espaçamento entre linhas*/
    text-align: center; /*centralizar texto*/
}

.presentation__text {
    margin-top: 20px;
    font-size: 14px;
    color: var(--gray-200);
    line-height: 21px;
    text-align: center;
}

.presentation__cta {
    margin-top: 40px;
    text-decoration: none;
    font-size: 14px;
    color: var(--white);
    background-color: var(--primary-color);
    width: 225px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: filter 250ms;
}

.presentation__cta:hover {
    filter: brightness(1.2);
}

.presentation__image {
    margin-top: 40px;
    max-width: 262px;
}

/* about-us */

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us__tag {
    font-size: 18px;
    font-weight: 600;
    color: var(--gray-100);
    display: block;
    text-align: center;
}

.about-us__title {
    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
    color: var(--primary-color);
    font-weight: 600;
    text-align: center;
}

.about-us__company-name-in-title {
    color: var(--gray-100);
}

.about-us__text {
    margin-top: 20px;
    font-size: 14px;
    line-height: 21px;
    color: var(--gray-200);
    text-align: center;
}

.about-us__image {
    margin-top: 50px;
    max-width: 274px;
}

/*services*/

.services__tag {
    font-size: 18px;
    color: var(--gray-100);
    display: block; /*quando é uma tag <span> por padrão ela está em display:inline.
     mudar para display:block se for movimenta-lá*/
     font-weight: 600;
     text-align: center;
}

.services__title {
    font-size: 20px;
    line-height: 30px;
    color: var(--black);
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
}

.services__item {
    margin-top: 40px;
}

.services__image-item {
    display: block;
    margin: 0 auto 20px auto;
    width: 66px;
}

.services__description-item {
    text-align: center;
    display: block;
    font-size: 18px;
    font-weight: 600;
} 

/*bottom-slogan*/

.bottom-slogan-container {
    background-color:#C4C4C40F;
    padding: 30px 0;
}

.bottom-slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-slogan__tag {
    font-size: 18px;
    display: block;
    text-align: center;
    color: var(--gray-100);
}

.bottom-slogan__text {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: var(--primary-color);
    text-align: center;
}

.bottom-slogan__cta {
    margin-top: 15px;
    text-decoration: none;
    font-size: 10px;
    color: var(--white);
    background-color: var(--primary-color);
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 38px;
    border-radius: 5px;
    transition: filter 250ms;
}

.bottom-slogan__cta:hover {
    filter: brightness(1.2);
}

.bottom-slogan__image {
    margin-top: 48px;
    max-width: 239px;
}

/*footer*/

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 35px;
}

.footer__logo {
    width: 120px;
}

.footer__text {
    margin-top: 32px;
    font-size: 14px;
    font-weight: 600;
    color: var(--gray-200);
}






